*{/*selecionar tudo que tem na pagina*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{ /*"body > header" informa que so quero selecionar os filhos diretos de body que tenham a tag header,    "padding: 16px 0;" estou informando que quero um espaçamento de 16px no topo e na parte inferior e 0 nas laterais*/
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}


header .container{/*"Display: flex;" informa que na parte do titulo "header" vai ter as informações uma do lado da outra, "justify-content: space-between;" informa que uma vai ficar em um lado da pagina e o outro na estremidade inversa, "align-items: center;" estou centralizando uma informação na outra */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{ /*deixa os elementos selecionados organizados em linha, "um do lado do outro"*/
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles{/*neste comando estamos definindo que o artigos fiquem um do lado do outro "display: flex;" e dizendo que se chegar ao limite da pagina é para criar uma nova linha "flex-wrap: wrap;, na parte "justify-content: space-between;" estou dizendo que os 10% que sobraram na divisão dos artigos devem ser divididos entrem eles e ter esse espaçamento para as margens*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {/*Adicionando o tamanho das imagens dentro dos artigos*/
    /*height: 180px;*/
    width: 100%;
}

.articles article{/*Limita o tamanho dos artigos, por exemplo a pagina tem 100% se queremos 3 artigos por linha definimos que o tamanho de cada artigo é de 30%*/
    width: 30%;
}

section{/*Adicionando espaçamento nas seções de 16px no topo e na parte inferior, e 0 nas laterias*/
    padding: 16px 0;
}

section h2,
.articles article{/*"section h2" estou selecionando os titulos das seções e colocando um margem na parte inferior com "margin-bottom: 16px;" e na parte ".articles article" por conta da 4 noticia preciso adcionar um margem inferior tambem */
    margin-bottom: 16px;
}


.articles article h3{ /*ja nesse estou selecionando os titulos das noticias e colocando margem*/
    margin-top: 8px;
    margin-bottom: 8px;
}


.articles article a{ /*Selecionando os links: "display : inline-block;" estou dizendo que as configurações do display deste botam tem que ser em bloco, pois por padrao o display vem em "inline" apenas.*/
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;/*nesta linha estou tirando o _ dos links*/
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{/*Ja neste comando estou informando que quando passar o mouse em cima dos links dentro dos artigos devese aparecer o _ e para para dizer "passar o mouse em cima" usamos ":hover"*/
    text-decoration: underline;
}


.articles article p,
.articles article a{/*Estou selecionando a fonte dos paragrafos e dos links*/
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{/*Adicionando o tamanho da fonte nos titulos dos artigos*/
    font-size: 24px;
}

section h2{/*Adicionando tamanho nas seções*/
    font-size: 32px;
}

#esportes { /*Estou selecioanndo toda a seção de esportes e colocando uma cor de fundo, o padrao "rgba" seguinifica "r = red,g  = green, b = blue , a = alpha" , 255 em questao no verde é a tonalidade maxima que existe nas cores no CSS e na parte do alpha eu escolho a % que desejo dessa tonalidade*/
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .articles article a {
    background-color: rgba(0, 255, 0, 0.5);
    color: #000;
}

#economia{
    background-color: #f8f59f;

}

#economia .articles article a {
    background-color: #ff9f1a;
}

#eSports{
    background-color: rgb(116, 220, 220);
}

#eSports .articles article a{
    background-color: aqua;
    color: #000;
}

#musculação{
    background-color: rgb(242, 101, 101);
}

#musculação .articles article a{
    background-color: red;
    color: yellow;
}

#ronnie_coleman{
    width: 75%;
}