@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 500px;
    width: 100%;
    margin: 80px auto;
}

form{
    margin-top: 40px;
}



main input,
main textarea,
main button{
    width: 700px;
    max-width: 100%;
    padding: 8px;
    margin-bottom: 5px;
}

main button{
    background-color: rgb(49, 249, 49);
    font-style: italic;
    border: none;
    cursor: pointer;
    color: #fff;
}

main button:hover{
    background-color: rgb(27, 125, 27);
}

#res{
    background-color: rgb(27, 125, 27);
    padding: 16px;
    color: #fff;
    display: none;
}