*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.container{
    margin: 250px auto;
    max-width: 350px;
    width: 100%;
}

.container h1{
    padding: 16px;
    margin-left: 40px;
}
.container input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    background-color: aquamarine;
}
.container button{
    width: 100%;
    padding: 16px;
    background-color: aquamarine;
    cursor: pointer;
}

#msg{
    margin-top: 25px;
    margin-left: 40px;
    font-size: 25px;
    background-color: aquamarine;
    font-style: italic;
}